<h1><%= @artist.name %></h1>
<%= link_to "[Delete artist!]", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %>

<h4>All songs!</h4>

<% if @artist.songs.any? %>
  <ul>
    <% @artist.songs.each do |song| %>
      <li><%= song.name %></li>
          <%= link_to "[Delete song!]", artist_song_path(@artist, song), method: :delete, data: { confirm: "Are you sure? Do you really want to delete this song?" } %>

    <% end %>
  </ul>
<% else %>
  <p>This artist did not produce songs.</p>
<% end %>

  <%= link_to "Add new song", new_artist_song_path(@artist) %>
